* text=auto

.gitattributes text eol=lf
*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
Dockerfile text eol=lf
LICENSE text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mp3 binary
*.m4a binary
*.m4b binary
*.flac binary
